<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>post2Result</title>
  </head>
  <body>
    <h3>Post2 결과</h3>
    <p>
      uid : <%= uid %><br />
      name : <%= name %><br />
      hp : <%= name %><br />
      age : <%= name %><br />
    </p>
  </body>
</html>
