<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>post1Result</title>
  </head>
  <body>
    <h3>Post1 결과</h3>
    <p>
      uid : <%= uid %><br />
      pass : <%= pass %><br />
    </p>
  </body>
</html>
