<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CookieResult</title>
  </head>
  <body>
    <h3>Cookie 결과</h3>
    <p>
      uid : <%= uid %><br />
      name : <%= name %><br />
      hp : <%= hp %><br />
      age : <%= age %><br />
    </p>

    <a href="/sub2/cookieClear">cookie 삭제</a>
    <a href="/">메인</a>
  </body>
</html>
